<div class="ui one column grid">
  <div class="column">
    <div class="ui icon buttons">
      <button class="ui blue button" (click)="generateWord()"><i class="file word icon"></i> Word</button>
      <button class="ui green button" (click)="generateExcel()"><i class="file excel icon"></i> Excel</button>
      <button class="ui red button" (click)="generatePdf()"><i class="file pdf icon"></i> PDF</button>
    </div>
    <div class="ui icon buttons right floated">
        <button class="ui basic button" (click)="reject(1)">Rejected</button>
        <button class="ui basic button" (click)="complete(2)">Completed</button>
    </div>
  </div>
</div>

<div class="ui one column grid">
  <div class="column">
    <div class="ui raised segment">
      <table class="ui celled very compact table">
        <thead>
          <tr>
            <th>
              <div class="ui checkbox">
                <input type="checkbox" (change)="checkedAll($event)">
                <label hidden></label>
              </div>
            </th>
            <th>Ticket ID</th>
            <th>Request date</th>
            <th>Approved date</th>
            <th>Employee ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Document request</th>
            <th>Number of copy</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>
              <div class="ui checkbox" (change)="checkedChange(user, $event)">
                <input type="checkbox">
                <label hidden></label>
              </div>
            </td>
            <td>{{ user.ticketID }}</td>
            <td>{{ user.createdAt }}</td>
            <td>{{ user.modifiedAt }}</td>
            <td>{{ user.owner.employeeID }}</td>
            <td>{{ user.owner.firstName }}</td>
            <td>{{ user.owner.lastName }}</td>
            <td>{{ user.typeCertifyLetter }}</td>
            <td>{{ user.owner.numberOfCopy }}</td>
            <td>
              <div *ngIf="user.status == 0" class="ui yellow right ribbon label">Pending</div>
              <div *ngIf="user.status == 1" class="ui red right ribbon label">Rejected</div>
              <div *ngIf="user.status == 2" class="ui green right ribbon label">Completed</div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="10">
              <div class="ui right floated pagination menu">
                <div *ngFor="let item of pagination">
                  <a class="item" (click)="itemPagination(item + 1)">{{ item + 1 }}</a>
                </div>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
