<header>
  <nav class="ui menu">
    <div class="ui container">
      <a routerLink="" class="header item">DigitalHR</a>
      <a routerLink="" class="item">Home</a>
      <div class="ui dropdown item">
        Tables
        <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" routerLink="tables/certify-letter">Certify Letter</a>
          <a class="item" routerLink="tables/loan">Loan</a>
        </div>
      </div>
      <div class="right menu">
        <a routerLink="login" class="item">Login</a>
        <a routerLink="signup" class="item">Signup</a>
      </div>
    </div>
  </nav>
</header>
